
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}


.card {
    position: sticky;
    top: 0;
    width: 100vw;   
    height: 100vh;  
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
}


.card-header {
    background-color: #e74c3c; 
    color: white;
    width: 100%;       
    padding: 15px 25px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}


.card-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body h1 {
    font-size: 10vw; 
    font-family: sans-serif;
    font-weight: bold;
}